.body {
    background-color: #1F2937;
    color: white;
}

.header {
font-family: Roboto;
font: 12px;
}

.reference {
    font-family: Roboto;
    font: 12px;
    color: white;
    margin-right: 20px;
}

#hero {
    font-family: Roboto;
    font: 12px;
}

.hero-text {
    font-family: Roboto;
    font: 4px;
}

.body2 {
    background-color: white;
    color: #1F2937;
}

.body3 {
        background-color: lightgrey;
        color: #1F2937
}

.body4 {
    background-color: white;
    color: #1F2937;
}

.button {
    background-color:blue;
    color: white;
}